<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="CreativeLayers">
    <script src="~/Assets/client/js/jquery.min.js" type="text/javascript"></script>

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/Assets/client/css/icons.css">
    <link rel="stylesheet" href="~/Assets/client/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/chosen.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/colors/colors.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap.css" />
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Assets/client/css/main.css" rel="stylesheet" />
    @* datetime picker *@
    <link rel="stylesheet" type="text/css" href="~/Assets/client/css/bootstrap-datepicker.css" />

    @*Quảng cáo*@
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>*@

    <script src="~/Assets/admin/js/popper.js"></script>
    <script src="~/Assets/admin/js/bootstrap.js"></script>
    <!-- include summernote -->
    <link rel="stylesheet" href="~/Assets/admin/dist/summernote-bs4.css">
    <script type="text/javascript" src="~/Assets/admin/dist/summernote-bs4.js"></script>
    <!-- <link rel="stylesheet" href="examples/example.css"> -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 300,
                tabsize: 2
            });
        });
    </script>
</head>
<body>

    <div class="page-loading">
        <img src="~/Assets/client/images/loader.gif" alt="" />
    </div>

    <div class="theme-layout" id="scrollup">

        @*Layout responsive header*@
        @Html.Partial("_LayoutResponsiveHeader")


        @*Layout header*@
        @Html.Partial("_LayoutHeader")

        @*Body - content*@
        @RenderBody()


        @*Footer*@
        @Html.Partial("_LayoutFooter")

    </div>
    <script src="~/Assets/client/js/address.js"></script>
    <script src="~/Assets/client/js/modernizr.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/script.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/wow.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/slick.min.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/parallax.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/select-chosen.js" type="text/javascript"></script>
    <script src="~/Assets/client/js/rslider.js"></script>
    <script src="~/Assets/client/js/counter.js"></script>
    <script src="~/Assets/client/js/isotop.js"></script>
    <script src="~/Assets/client/js/bootstrap-datepicker.js"></script>
    <script src="~/Assets/client/js/circle-progress.min.js"></script>
    <script src="~/Assets/client/js/jquery.scrollbar.min.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
    <script src="~/Assets/client/js/mouse.js"></script>
    <script src="~/Assets/client/js/tag.js"></script>
    <script src="~/Assets/client/js/notify/notify.js"></script>
    <script src="~/Assets/client/js/notify/notify.min.js"></script>
    @*<script src="~/Assets/client/js/jquery.validate.js"></script>*@
    <script src="~/Assets/client/js/jquery.validate.min.js"></script>
    <script src="~/Assets/client/js/additional-methods.min.js"></script>
    <script src="~/Assets/client/js/validator.js"></script>

    <script>
        $(function () {
            $('.datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>

</body>
</html>

